@model Kategori
@{
	string turValue = ViewData["Tur"] as string ?? "";
}

<div class="modal modal-lg fade" id="ürünModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Kategori Ekle</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal">
			</button>
		</div>

		<form asp-action="KategoriEkle" method="post" novalidate>
			<div class="modal-body">
				<div style="margin-bottom:14px" class="row">
					<div class="form-floating col-md-6 mb-3">
						<input id="Ad" asp-for="Ad" type="text" class="form-control" placeholder="">
						<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Kategori Adı</label>
							<span class="validation-text" asp-validation-for="Ad"></span>

					</div>
					<div class="col-md-6">
						<select asp-for="Tur" class="default-select form-control wide w-100 required">
							<option disabled >Kategori</option>
							@switch (turValue)
								{
									case "Masa":
										<option value="Masa" selected>Masa</option>
										<option value="Menü">Menü</option>
										<option value="Ürün">Ürün</option>
										break;

									case "Menu":
										<option value="Masa">Masa</option>
										<option value="Menü" selected>Menü</option>
										<option value="Ürün">Ürün</option>
										break;

									case "Urun":
										<option value="Masa">Masa</option>
										<option value="Menü">Menü</option>
										<option value="Ürün" selected>Ürün</option>
										break;

									default:
										<option value="Masa">Masa</option>
										<option value="Menü">Menü</option>
										<option value="Ürün">Ürün</option>
										break;
								}

						</select>
							<span class="validation-text" asp-validation-for="Tur"></span>

					</div>
				</div>
				<input asp-for="Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
				<button type="submit" class="btn btn-primary">Kaydet</button>
			</div>
		</form>

	</div>
</div>
</div>
