@model Rol

@* // Rol düzenle *@
<div class="modal fade" id="rolGuncelle_@Model.Id">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Rol Düzenle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label">Rol Adı</label>
							<input asp-for="Ad" type="text" value="@Model.Ad" class="form-control">
							<span class="validation-text" asp-validation-for="Ad"></span>

							<input asp-for="Gorunurluk" type="hidden" class="form-control" value=True>
							<input asp-for="Id" type="hidden" class="form-control" value=@Model.Id>

							<div class="invalid-feedback">
								Zorunlu Alan
							</div>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
</div>