
@{
    ViewData["Title"] = "Menüler";
}

<body>
    <div class="preloader">
        <button class="th-btn style3 preloaderCls">Cancel Preloader</button>
        <div class="preloader-inner"><span class="loader"></span></div>
    </div>
    <div id="QuickView" class="white-popup mfp-hide">
        <div class="container bg-white">
            <div class="row">
                <div class="col-lg-7">
                    <div class="product-thumb-area">
                        <div class="product-thumb-tab" data-asnavfor=".product-big-img">
                            <div class="tab-btn active"><img src="~/home_panel/img/menu/menu_thumb_1_1.png" alt="Product Thumb"></div>
                            <div class="tab-btn"><img src="~/home_panel/img/menu/menu_thumb_1_2.png" alt="Product Thumb"></div>
                            <div class="tab-btn"><img src="~/home_panel/img/menu/menu_thumb_1_3.png" alt="Product Thumb"></div>
                            <div class="tab-btn"><img src="~/home_panel/img/menu/menu_thumb_1_4.png" alt="Product Thumb"></div>
                            <div class="tab-btn"><img src="~/home_panel/img/menu/menu_thumb_1_5.png" alt="Product Thumb"></div>
                        </div>
                        <div class="product-big-img th-carousel" data-slide-show="1" data-md-slide-show="1" data-fade="true">
                            <div class="col-auto">
                                <div class="img"><img src="~/home_panel/img/menu/product_details_1_1.png" alt="Product Image"></div>
                            </div>
                            <div class="col-auto">
                                <div class="img"><img src="~/home_panel/img/menu/product_details_1_2.png" alt="Product Image"></div>
                            </div>
                            <div class="col-auto">
                                <div class="img"><img src="~/home_panel/img/menu/product_details_1_3.png" alt="Product Image"></div>
                            </div>
                            <div class="col-auto">
                                <div class="img"><img src="~/home_panel/img/menu/product_details_1_4.png" alt="Product Image"></div>
                            </div>
                            <div class="col-auto">
                                <div class="img"><img src="~/home_panel/img/menu/product_details_1_5.png" alt="Product Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="product-about">
                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="woocommerce-review-link">(<span class="count">3</span> customer reviews)</a>
                        </div>
                        <h2 class="product-title">Chicken Masala</h2>
                        <p class="price">$180.85<del>$350.99</del></p>
                        <p class="text">There are many variations of passages of lorem Ipum available theresu anything embarrassing It’s a long established fact that a reader will be looking at its layout.</p>
                        <div class="actions">
                            <div class="quantity"><input type="number" class="qty-input" step="1" min="1" max="100" name="quantity" value="1" title="Qty"> <button class="quantity-plus qty-btn"><i class="far fa-chevron-up"></i></button> <button class="quantity-minus qty-btn"><i class="far fa-chevron-down"></i></button></div>
                            <button class="th-btn">Add to Cart</button> <a class="icon-btn" href="wishlist.html"><i class="fal fa-heart"></i></a>
                        </div>
                        <div class="product_meta"><span class="sku_wrapper">SKU: <span class="sku">C2546</span></span> <span class="posted_in">Category: <a href="shop.html" rel="tag">Chicken Pizza</a></span> <span>Tags: <a href="shop.html">Fast Food</a><a href="shop.html">Grill</a></span></div>
                        <div class="share">
                            <p class="share-title"><i class="fa-solid fa-share"></i> Share</p>
                            <div class="th-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
    </div>
    <div class="sidemenu-wrapper d-none d-lg-block">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget woocommerce widget_shopping_cart">
                <h3 class="widget_title">Shopping cart</h3>
                <div class="widget_shopping_cart_content">
                    <ul class="woocommerce-mini-cart cart_list product_list_widget">
                        <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#"><img src="~/home_panel/img/menu/menu_thumb_1_1.png" alt="Cart Image">Daria Shevtsova</a> <span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>40.00</span></span></li>
                        <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#"><img src="~/home_panel/img/menu/menu_thumb_1_2.png" alt="Cart Image">Chicken Masala</a> <span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>99.00</span></span></li>
                        <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#"><img src="~/home_panel/img/menu/menu_thumb_1_3.png" alt="Cart Image">Sicilian Pizza</a> <span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>56.00</span></span></li>
                        <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#"><img src="~/home_panel/img/menu/menu_thumb_1_4.png" alt="Cart Image">Beef Masala</a> <span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>23.00</span></span></li>
                        <li class="woocommerce-mini-cart-item mini_cart_item"><a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a> <a href="#"><img src="~/home_panel/img/menu/menu_thumb_1_5.png" alt="Cart Image">Martin Widenka</a> <span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>100.00</span></span></li>
                    </ul>
                    <p class="woocommerce-mini-cart__total total"><strong>Subtotal:</strong> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>318.00</span></p>
                    <p class="woocommerce-mini-cart__buttons buttons"><a href="cart.html" class="th-btn wc-forward">View cart</a> <a href="checkout.html" class="th-btn checkout wc-forward">Checkout</a></p>
                </div>
            </div>
        </div>
    </div>


    
    <div class="breadcumb-wrapper" data-bg-src="/home_panel/img/update_2/bg/breadcumb_bg_2.jpg">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">MENÜLER</h1>
                <ul class="breadcumb-menu">
                    <li><a asp-controller="Musteri" asp-action="Index">Ana Sayfa</a></li>
                    <li>Menüler</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="th-product-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="th-sort-bar">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md">
                        <p class="woocommerce-result-count">Showing 1–12 of 16 results</p>
                    </div>
                    <div class="col-md-auto">
                        <form class="woocommerce-ordering" method="get">
                            <select name="orderby" class="orderby" aria-label="Shop order">
                                <option value="menu_order" selected="selected">Default Sorting</option>
                                <option value="popularity">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by latest</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row gy-40">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_1.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Barbecue Sauce</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$19.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_2.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Brief Pizza</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$16.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_3.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Fresh Sea Foods</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$17.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_4.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Sashimi Fish</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$12.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_5.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Chicken Pasta</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$10.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_6.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Beef Biryani</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$19.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_7.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Natural Vegetable</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$16.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_8.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Italian Pasta</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$17.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_9.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Sichuan cocktail</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$12.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_10.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Pizza Italian</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$10.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_11.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">California Roll</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$19.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="th-menu">
                        <div class="th-menu_img">
                            <img class="spin" src="~/home_panel/img/update_2/menu/menu_3_12.png" alt="menu Image">
                            <div class="product-action"><a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span></a> <a href="wishlist.html"><span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span></a></div>
                            <div class="th-menu_discount"><span class="sale">24% OFF</span></div>
                        </div>
                        <div class="th-menu-content">
                            <h3 class="th-menu_title"><a href="shop-details.html">Testy Sea Foods</a></h3>
                            <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                            <span class="th-menu_price">$16.85</span>
                        </div>
                        <div class="fire"><img src="~/home_panel/img/update_2/shape/fire.png" alt="shape"></div>
                    </div>
                </div>
            </div>
            <div class="th-pagination text-center pt-50">
                <ul>
                    <li><a href="blog.html">1</a></li>
                    <li><a href="blog.html">2</a></li>
                    <li><a href="blog.html">3</a></li>
                    <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="gallery-thumb-area">
        <div class="row gx-10 th-carousel" id="gallerySlide1" data-slide-show="8" data-ml-slide-show="7" data-lg-slide-show="6" data-md-slide-show="5" data-sm-slide-show="4" data-xs-slide-show="3" data-focuson-select="false">
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_1.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_1.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_2.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_2.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_3.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_3.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_4.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_4.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_5.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_5.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_6.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_6.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_7.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_7.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_8.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_8.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-auto">
                <div class="gallery-thumb"><img src="~/home_panel/img/update_2/widget/gallery_2_9.jpg" alt="Gallery Image"> <a href="~/home_panel/img/update_2/widget/gallery_2_9.jpg" class="gallery-btn popup-image"><i class="fab fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</body>

