
@{
    ViewData["Title"] = "Personel";
}

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Personel</h2>
				<p class="mb-0">Cafe App Personel Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<a asp-action="PersonelEkle" style="width:max-content; display: inline-block; vertical-align: middle; margin-left:px" type="button" class="btn btn-rounded btn-primary">
				<span class="btn-icon-start text-primary">
					<i class="fa fa-user-plus color-primary"></i>
				</span>Personel Ekle
			</a>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-filter me-2"></i>Filtrele
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
			<div class="cm-content-body form excerpt">
				<div class="card-body">
					<div class="row">
						<div class="col-xl-3 col-sm-6">
							<input type="text" class="form-control mb-3 mb-xl-0" id="exampleFormControlInput1" placeholder="Personel Adı">
						</div>
						<div class="col-xl-3 col-sm-6 mb-3 mb-xl-0">
							<select class="default-select dashboard-select-2 wide w-100">
								<option selected>Personel Rolü</option>
								<option value="1">Published</option>
								<option value="2">Draft</option>
								<option value="3">Trash</option>
								<option value="4">Private</option>
								<option value="5">Pending</option>
							</select>
						</div>
						<div class="col-xl-3 col-sm-6">
							<input id="datepicker" class=" form-control mb-3 mb-xl-0">
						</div>
						<div class="col-xl-3 col-sm-6">
							<button class="btn btn-primary" title="Aramak İçin Tıklayın" type="button"><i class="fa fa-search me-1"></i>Filtrele</button>
							<button class="btn btn-danger light" title="Filtreyi Kaldırmak İçin Tıklayın" type="button">Kaldır</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="filter cm-content-box box-primary">
					<div class="content-title">
						<div class="cpa">
							<i class="fa-solid fa-file-lines me-1"></i>Personel Listesi
						</div>
						<div class="tools">
							<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
						</div>
					</div>
					<div class="cm-content-body form excerpt">
						<div class="card-body">
							<div class="table-responsive">

								<table class="table table-responsive-sm mb-0">
									<thead>
										<tr>
											<th style="">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="checkAll">
													<label class="form-check-label" for="checkAll">

													</label>
												</div>
											</th>
											<th><strong>Id</strong></th>
											<th><strong>Personel Adı-Soyadı</strong></th>
											<th><strong>Giriş Tarihi</strong></th>
											<th><strong>Çalışma Durumu</strong></th>
											<th style="width:85px;"><strong>İşlemler</strong></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-1">
													<label class="form-check-label" for="flexCheckDefault-1">

													</label>
												</div>
											</td>
											<td><b>1</b></td>
											<td><div class="d-flex align-items-center"><img src="/admin_panel/images/avatar/5.jpg" class="rounded-lg me-2" width="24" alt=""> <span class="w-space-no">Ünal Kağan Muslu</span></div></td>
											<td>01 Ağustos 2023</td>
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Çalışıyor</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-2">
													<label class="form-check-label" for="flexCheckDefault-2">

													</label>
												</div>
											</td>
											<td><b>2</b></td>
											<td>Quick and Easy Fix For Your Fitness.</td>
											<td>01 August 2023</td>
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Canceled</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-3">
													<label class="form-check-label" for="flexCheckDefault-3">

													</label>
												</div>
											</td>
											<td><b>3</b></td>
											<td>Things That Make You Love Fitness.</td>
											<td>01 August 2023</td>
											<td class="recent-stats"><i class="fa fa-circle text-warning me-1"></i>Pending</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-4">
													<label class="form-check-label" for="flexCheckDefault-4">

													</label>
												</div>
											</td>
											<td><b>4</b></td>
											<td>How to keep your Body.</td>
											<td>01 August 2023</td>
											<td class="recent-stats"><i class="fa fa-circle text-warning me-1"></i>pending</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-5">
													<label class="form-check-label" for="flexCheckDefault-5">

													</label>
												</div>
											</td>
											<td><b>5</b></td>
											<td>Relax Your Body</td>
											<td>01 August 2023</td>
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Canceled</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-6">
													<label class="form-check-label" for="flexCheckDefault-6">

													</label>
												</div>
											</td>
											<td><b>6</b></td>
											<td>Origins Of Meditation</td>
											<td>01 June 2023</td>
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Successful</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
										<tr>
											<td>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-7">
													<label class="form-check-label" for="flexCheckDefault-7">

													</label>
												</div>
											</td>
											<td><b>7</b></td>
											<td>Meditation Workshop</td>
											<td>01 May 2023</td>
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Successful</td>
											<td>
												<a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div class="d-flex align-items-center justify-content-xl-between flex-wrap justify-content-center mt-3">
								<small>3 sayfa içerisinden 1 numaralı sayfa gösteriliyor</small>
								<nav aria-label="Page navigation example">
									<ul class="pagination mb-2 mb-sm-0">
										<li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
										<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
										<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
										<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
										<li class="page-item"><a class="page-link " href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
	</div>
</div>

<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});
	</script>
}
