
@{
    ViewData["Title"] = "Personel Ekle";
}
@model Personel

<!-- CSS Ekstralar -->
<head>
    <link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 order-lg-2 mb-4">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-black">Your cart</span>
                                    <span class="badge badge-primary badge-pill">3</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">Product name</h6>
                                            <small class="text-muted">Brief description</small>
                                        </div>
                                        <span class="text-muted">$12</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">Second product</h6>
                                            <small class="text-muted">Brief description</small>
                                        </div>
                                        <span class="text-muted">$8</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">Third item</h6>
                                            <small class="text-muted">Brief description</small>
                                        </div>
                                        <span class="text-muted">$5</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between active">
                                        <div class="text-white">
                                            <h6 class="my-0 text-white">Promo code</h6>
                                            <small>EXAMPLECODE</small>
                                        </div>
                                        <span class="text-white">-$5</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total (USD)</span>
                                        <strong>$20</strong>
                                    </li>
                                </ul>

                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Promo code">
										<button type="submit" class="input-group-text">Redeem</button>
                                    </div>
                                </form>
                            </div>

                            <div class="col-lg-8 order-lg-1 input-primary">
                                <h4 class="mb-3 text-black">Personel Ekle</h4>
                                <form asp-controller="Personel" asp-action="PersonelEkle" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                                    <div style="margin-bottom:9px" class="row">
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Personel Adı</label>
                                            <input id="validationCustom01" type="text" class="form-control" asp-for="Ad" placeholder="" value="" required="">
                                            <div class="invalid-feedback">
                                                Zorunlu Alan
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Personel Soyadı</label>
                                            <input type="text" class="form-control" asp-for="Soyad" placeholder="" value="" required="">
                                            <div class="invalid-feedback">
                                                Zorunlu Alan
                                            </div>
                                        </div>
                                    </div>

                                    <div style="margin-bottom:9px" class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="email" class="form-label">E-Posta Adresi</label>
                                            <input type="text" class="form-control" asp-for="Eposta" placeholder="E-Posta" required="">
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Zorunlu Alan
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label class="form-label">Rol</label>
                                            <select asp-for="RolId" class="default-select form-control wide w-100 required">
                                                <option disabled="disabled" selected>Rol</option>
                                                @foreach (var item in ViewBag.roller)
                                                {
                                                    <option value="@item.Id">@item.Ad</option>
                                                }
                                            </select>
                                            <div class="invalid-feedback">
                                                Zorunlu Alan
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="email" class="form-label">Maaş</label>
                                            <input type="number" class="form-control" asp-for="Maas" placeholder="Maaş" required="">
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Zorunlu Alan
                                            </div>
                                        </div>
                                    </div>

                                    <div style="margin-bottom:9px" class="row">
                                        <div class="col-md-6 mb-3">
                                            <label for="formFile" class="form-label">Personel Fotoğrafı</label>
                                            <input asp-for="Fotograf" id="formFile" class="form-control" name="file" type="file">
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Cinsiyet</label>
                                            <select asp-for="Cinsiyet" class="default-select form-control required wide w-100" required>
                                                <option value="" selected>Cinsiyet</option>
                                                <option>Kadın</option>
                                                <option>Erkek</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Zorunlu Alan
                                            </div>
                                        </div>
                                    </div>


                                    <div style="margin-bottom:9px" class="row">
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Parola</label>
                                            <div class="input-group transparent-append">
                                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                <input type="password" class="form-control" asp-for="Parola" placeholder="" required>
                                                <span class="input-group-text show-pass border-left-end">
                                                    <i class="fa fa-eye-slash"></i>
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Zorunlu Alan
                                                </div>
                                            </div>
                                            <div class="invalid-feedback">
                                                Zorunlu Alan
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Telefon Numarası</label>
                                            <div class="input-group">
                                                <span class="input-group-text">+90</span>
                                                <input type="number" class="form-control border-left-end" asp-for="Telefon" placeholder="" required>
                                                <div class="invalid-feedback">
                                                    Zorunlu Alan
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <div style="margin-bottom:9px" class="mb-3">
                                                <label for="address" class="form-label">Adres</label>
                                                <textarea asp-for="Adres" type="text" class="form-control" placeholder="" required></textarea>
                                                <div class="invalid-feedback">
                                                    Zorunlu Alan
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div style="margin-bottom:9px" class="row">
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Doğum Tarihi</label>
                                            <input style="text-align:center" asp-for="DogumTarihi" id="datepicker" class=" form-control mb-3 mb-xl-0" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Başlama Tarihi</label>
                                            <input style="text-align:center" asp-for="BaslamaTarihi" id="datepicker2" class=" form-control mb-3 mb-xl-0" required>
                                        </div>
                                    </div>

                                    <div style="text-align:center; margin-top:20px" class="col-md-12 mb-3">
                                        <button class="btn btn-primary" type="submit">Personel Ekle</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
    <script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/admin_panel/js/dashboard/cms.js"></script>
    <script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>

    <script>

        $(function () {
            $("#datepicker").datepicker({
                language: 'tr',
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            }).datepicker('update', new Date());

        });

        $(function () {
            $("#datepicker2").datepicker({
                language: 'tr-TR',
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            }).datepicker('update', new Date());

        });

        document.querySelector("#formFile").onchange = function () {
            const fileName = this.files[0]?.name;
            const label = document.querySelector("label[for=formFile]");
            label.innerText = fileName ?? "Fotoğraf Yükle";
        };

    </script>
}

