
@{
    ViewData["Title"] = "Index";
}


    <div class="breadcumb-wrapper" data-bg-src="/home_panel/img/update_2/bg/breadcumb_bg_2.jpg">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">HAKKIMIZDA</h1>
                <ul class="breadcumb-menu">
                    <li><a asp-controller="Musteri" asp-action="Index" >Ana Sayfa</a></li>
                    <li>Hakkımzda</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="space position-relative">
        <div class="about-line" data-bg-src=~"/home_panel/img/shape/about_line.png"></div>
        <section class="space-bottom">
            <div class="container">
                <div class="row gy-30 justify-content-center">
                    <div class="col-md-4 col-sm-6 feature-card-wrap">
                        <div class="feature-card">
                            <div class="feature-card_icon"><img src="~/home_panel/img/icon/feature_1_1.svg" alt="icon"></div>
                            <div>
                                <h3 class="feature-card_title">Uygun Fiyatlar</h3>
                            <p class="feature-card_text">
                                Yemeklerimiz sıradanın dışında! Geleneksel tatları modern bir dokunuşla buluşturuyoruz.                           </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 feature-card-wrap">
                        <div class="feature-card">
                            <div class="feature-card_icon"><img src="~/home_panel/img/icon/feature_1_2.svg" alt="icon"></div>
                            <div>
                            <h3 class="feature-card_title">Taze Sağlıklı Gıdalar</h3>
                            <p class="feature-card_text">
                                Çevreye ve topluma katkı sağlıyoruz! Menümüzde yerel, organik ve mevsimsel malzemelere öncelik veriyoruz.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 feature-card-wrap">
                        <div class="feature-card">
                            <div class="feature-card_icon"><img src="~/home_panel/img/icon/feature_1_3.svg" alt="icon"></div>
                            <div>
                            <h3 class="feature-card_title">Masada Hızlı QR Servis</h3>
                            <p class="feature-card_text">Biz sadece bir restoran değiliz, bir deneyim sunuyoruz! Temalı dekorasyon ve keyifli atmosferimizle her ziyaretinizi unutulmaz kılıyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="space-lg-top">
            <div class="space-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-xxl-7 pe-xxl-5">
                            <div class="text-end"><img src="~/home_panel/img/normal/about_1_1.png" alt="About"></div>
                        </div>
                        <div class="col-xl-6 col-xxl-5 col-lg-9 mt-35 mt-xl-0">
                            <div class="title-area mb-30">
                                <span class="sub-title"><img class="icon" src="~/home_panel/img/icon/title_icon.svg" alt="icon"> Hakkımızda</span>
                            <h2 class="sec-title">Kaliteli ve Lezzetli Yemeklerimiz Doğrudan <span class="font-style text-theme">Masanıza Geliyor</span></h2>
                            </div>
                        <p class="mt-n2 mb-4">Firmamız, müşterilerine sadece mükemmel tatlar sunmakla kalmıyor, aynı zamanda bu lezzetleri doğrudan masalarına taşıyor. Misafirlerimiz, restoranımızda geçirdikleri zamanı keyifle geçirebilir ve enfes yemeklerin tadını çıkarabilirler. </p>
                            <div class="checklist-wrap">
                            <div class="th-video"><img src="~/home_panel/img/normal/about_1_2.jpg" alt="video"> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="play-btn popup-video"><i class="fas fa-play"></i></a></div>
                                <div class="checklist">
                                    <ul>
                                        <li>Yenilikçi QR Sistemi</li>
                                        <li>Lezzetli ve Sağlıklı Yiyecekler</li>
                                        <li>Spasifik Aile ve Çocuk Bölgesi</li>
                                        <li>En Taze Malzemeler</li>
                                        <li>Müzik ve Diğer Olanaklar</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <a asp-controller="Rezervasyon" asp-action="Index" class="th-btn">REZERVASYON YAP</a>
                                <div class="profile-box">
                                    <div class="avater"><img src="~/home_panel/img/normal/about_avater.jpg" alt="avater"></div>
                                    <div class="content">
                                        <h6 class="title">Ünal Kağan Muslu</h6>
                                        <p class="desig">CEO, Cafe App</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shape-mockup about-shape1" data-top="0%" data-left="0"><img src="~/home_panel/img/shape/bg_shape_1.png" alt="shapes"></div>
            </div>
        </div>
        <div class="space-lg-top">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-xl-7 ps-xxl-5">
                        <div class="img-box2 style2">
                            <div class="img1"><img src="~/home_panel/img/normal/about_2_1.png" alt="About"></div>
                            <div class="shape1"><img src="~/home_panel/img/normal/about_2_2.png" alt="About"></div>
                            <div class="discount_style1" data-bg-src="~/home_panel/img/shape/discount_bg_1.svg">
                                <h4 class="percentage">40 <span class="small-text">%<br><span class="text">Off</span></span></h4>
                            </div>
                            <a asp-controller="Urun" asp-action="Index" class="order-btn"><span class="font-style text-theme">Sipariş</span>Et</a>
                        </div>
                    </div>
                    <div class="col-xl-5 space-top space-xl">
                        <div class="title-area mb-30">
                            <span class="sub-title"><img class="icon" src="~/home_panel/img/icon/title_icon.svg" alt="icon"> Hikayemiz</span>
                            <h2 class="sec-title">Müşterilerimize lezzetli bir <span class="font-style text-theme">Hikaye Sunuyoruz</span></h2>
                        </div>
                    <p class="mt-n2 mb-20">
                        Cafe App'in QR sistemli masa sistemi, kafenin atmosferine mükemmel şekilde entegre oldu. Misafirler artık tek bir dokunuşla menüyü tarayarak siparişlerini iletebiliyor, ödemelerini gerçekleştirebiliyor ve hatta masalarına servis edilmesini istedikleri saatleri belirleyebiliyorlar.
                    </p>
                    <p class="mb-4">
                        Bu yenilikçi çözümle, Cafe macerası yeni bir boyut kazandı. Ziyaretçiler, sadece lezzetli kahvelerin ve atıştırmalıkların tadını çıkarmakla kalmıyor, aynı zamanda modern teknolojinin sunduğu kolaylıklardan da faydalanıyorlar.
                    </p>
                        <div class="btn-wrap style1">
                          <a asp-controller="Rezervasyon" asp-action="Index" class="th-btn">REZERVASYON YAP</a>
                            <div class="about-counter1">
                                <h3 class="counter-title"><span class="counter-number">24</span></h3>
                                <div class="media-body">
                                    <p class="counter-info">YILLIK</p>
                                    <h5 class="counter-text">DENEYİM</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-mockup about-shape3" data-bottom="120px" data-left="0"><img src="~/home_panel/img/shape/bg_shape_5.png" alt="shapes"></div>
            <div class="shape-mockup leaf jump" data-top="0%" data-left="5%"><img src="~/home_panel/img/shape/chocolate_1.png" alt="shape"></div>
            <div class="shape-mockup leaf jump-reverse d-none d-xl-block" data-bottom="10%" data-right="5%"><img src="~/home_panel/img/shape/pot_1.png" alt="shape"></div>
        </div>
    </div>
    <section class="space bg-title" data-bg-src="~/home_panel/img/bg/feature_bg_2.png">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title"><img class="icon" src="~/home_panel/img/icon/title_icon.svg" alt="icon"> Güçlü Yönlerimiz</span>
                <h2 class="sec-title text-white">En çok sevilen <span class="font-style text-theme">Yemeklerimiz</span></h2>
                <p class="sec-text ms-auto me-auto text-white">Objectively pontificate quality models before intuitive information. Dramatically recaptiualize multifunctional materials.</p>
            </div>
            <div class="feature-grid-wrap">
                <div class="feature-grid">
                    <div class="feature-grid_img"><img src="~/home_panel/img/icon/feature_4_1.svg" alt="Food"></div>
                    <div>
                    <h3 class="feature-grid_title box-title text-white">Hamburgerlerimiz</h3>
                    <p class="feature-grid_text text-border">İncecik dilimlenmiş taze sebzeler, kaliteli dana eti ve özel soslarla lezzetlendirilmiş hamburgerlerimiz, her ısırıkta müşterilerimize doyumsuz bir lezzet sunar. </p>
                    </div>
                </div>
                <div class="feature-grid">
                    <div class="feature-grid_img"><img src="~/home_panel/img/icon/feature_4_2.svg" alt="Food"></div>
                    <div>
                    <h3 class="feature-grid_title box-title text-white">Tatlılarımız</h3>
                    <p class="feature-grid_text text-border">Taptaze meyvelerden, çikolatalı lezzetlere kadar geniş bir yelpazede sunulan tatlılarımız, herkesin damak zevkine hitap ediyor.</p>
                    </div>
                </div>
                <div class="feature-grid">
                    <div class="feature-grid_img"><img src="~/home_panel/img/icon/feature_4_3.svg" alt="Food"></div>
                    <div>
                    <h3 class="feature-grid_title box-title text-white">Şef Spesyallerimiz</h3>
                    <p class="feature-grid_text text-border">Şefimizin özel tarifleriyle hazırlanan spesiyal yemeklerimiz, klasik lezzetlere modern bir dokunuş ekleyerek misafirlerimize unutulmaz bir tadı deneyimleme fırsatı sunuyor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="z-index-common space-top">
        <div class="container" data-pos-space="#testiSec1" data-sec-space="margin-bottom" data-margin-bottom="170px">
            <div class="title-area text-center">
                <span class="sub-title"><img class="icon" src="~/home_panel/img/icon/title_icon.svg" alt="icon"> Takım Üyelerimiz</span>
            <h2 class="sec-title"><span class="font-style text-theme">Şeflerimizle</span> Tanışın </h2>
                <p class="sec-text ms-auto me-auto">Alanında usta şeflerimiz ile güçlüyüz.</p>
            </div>
            <div class="row slider-shadow number-dots th-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-dots="true" data-xl-dots="true" data-ml-dots="true" data-lg-dots="true" data-md-dots="true">
                <div class="col-md-6 col-lg-4 col-xxl-3">
                    <div class="team-card">
                        <div class="team-img"><img src="~/home_panel/img/team/team_1_1.jpg" alt="Team"></div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="team-details.html">David Latham</a></h3>
                            <span class="team-desig">Chief Executive</span>
                            <div class="th-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                    <div class="team-card">
                        <div class="team-img"><img src="~/home_panel/img/team/team_1_2.jpg" alt="Team"></div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="team-details.html">Mary Jenica</a></h3>
                            <span class="team-desig">Chief Chef</span>
                            <div class="th-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                    <div class="team-card">
                        <div class="team-img"><img src="~/home_panel/img/team/team_1_3.jpg" alt="Team"></div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="team-details.html">Joseph Carter</a></h3>
                            <span class="team-desig">Senior Chef</span>
                            <div class="th-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                    <div class="team-card">
                        <div class="team-img"><img src="~/home_panel/img/team/team_1_4.jpg" alt="Team"></div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="team-details.html">Anjelina Rosee</a></h3>
                            <span class="team-desig">Senior Chef</span>
                            <div class="th-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                    <div class="team-card">
                        <div class="team-img"><img src="~/home_panel/img/team/team_1_5.jpg" alt="Team"></div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="team-details.html">Rubina Jenny</a></h3>
                            <span class="team-desig">Senior Chef</span>
                            <div class="th-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-mockup chili jump-reverse" data-top="0%" data-right="0"><img src="~/home_panel/img/shape/red_chili.png" alt="shape"></div>
    </section>
    <section class="space bg-smoke2" id="testiSec1" data-bg-src="~/home_panel/img/bg/testi_bg_1.png">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-center align-items-end">
                <div class="col-lg-9 mb-n2 mb-lg-0">
                    <div class="title-area text-center text-lg-start">
                        <span class="sub-title"><img class="icon" src="~/home_panel/img/icon/title_icon.svg" alt="icon"> Müşterilerimizden</span>
                    <h2 class="sec-title">Müşterilerimizden gelen <span class="font-style text-theme">Feedbackler</span></h2>
                        <p class="sec-text ms-auto me-auto ms-lg-0">Müşterilerimizi önemsiyoruz. Onlara Sağlıklı ve lezzetli bir deneyim yaşatmaya çalışıyoruz.</p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="sec-btn">
                        <div class="icon-box"><button data-slick-prev="#testiSlide1" class="slick-arrow default"><i class="far fa-arrow-left"></i></button> <button data-slick-next="#testiSlide1" class="slick-arrow default"><i class="far fa-arrow-right"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="row slider-shadow th-carousel" id="testiSlide1" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="1">
                <div class="col-xl-4 col-lg-6">
                    <div class="testi-box">
                        <div class="testi-box_icon"><img src="~/home_panel/img/icon/quote_left.svg" alt="quote"></div>
                        <p class="testi-box_text">“Synergistically strategize interdependent ROI through distinctive markets. Credibly restore one-to-one through.”</p>
                        <div class="testi-box_review"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                        <div class="testi-box_profile">
                            <div class="testi-box_avater"><img src="~/home_panel/img/testimonial/testi_1_1.jpg" alt="Avater"></div>
                            <div class="media-body">
                                <h3 class="testi-box_name">Rayan Kook</h3>
                                <span class="testi-box_desig">NYC, USA</span>
                            </div>
                        </div>
                        <div class="testi-box_img"><img src="~/home_panel/img/testimonial/review_1_1.png" alt="Reveiw Image"></div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="testi-box">
                        <div class="testi-box_icon"><img src="~/home_panel/img/icon/quote_left.svg" alt="quote"></div>
                        <p class="testi-box_text">“Synergistically strategize interdependent ROI through distinctive markets. Credibly restore one-to-one through.”</p>
                        <div class="testi-box_review"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                        <div class="testi-box_profile">
                            <div class="testi-box_avater"><img src="~/home_panel/img/testimonial/testi_1_2.jpg" alt="Avater"></div>
                            <div class="media-body">
                                <h3 class="testi-box_name">Michel Clark</h3>
                                <span class="testi-box_desig">DYM, USA</span>
                            </div>
                        </div>
                        <div class="testi-box_img"><img src="~/home_panel/img/testimonial/review_1_2.png" alt="Reveiw Image"></div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="testi-box">
                        <div class="testi-box_icon"><img src="~/home_panel/img/icon/quote_left.svg" alt="quote"></div>
                        <p class="testi-box_text">“Synergistically strategize interdependent ROI through distinctive markets. Credibly restore one-to-one through.”</p>
                        <div class="testi-box_review"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                        <div class="testi-box_profile">
                            <div class="testi-box_avater"><img src="~/home_panel/img/testimonial/testi_1_3.jpg" alt="Avater"></div>
                            <div class="media-body">
                                <h3 class="testi-box_name">Rosse Mons</h3>
                                <span class="testi-box_desig">DO, USA</span>
                            </div>
                        </div>
                        <div class="testi-box_img"><img src="~/home_panel/img/testimonial/review_1_3.png" alt="Reveiw Image"></div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="testi-box">
                        <div class="testi-box_icon"><img src="~/home_panel/img/icon/quote_left.svg" alt="quote"></div>
                        <p class="testi-box_text">“Synergistically strategize interdependent ROI through distinctive markets. Credibly restore one-to-one through.”</p>
                        <div class="testi-box_review"><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i></div>
                        <div class="testi-box_profile">
                            <div class="testi-box_avater"><img src="~/home_panel/img/testimonial/testi_1_4.jpg" alt="Avater"></div>
                            <div class="media-body">
                                <h3 class="testi-box_name">Naisa Carg</h3>
                                <span class="testi-box_desig">TO, USA</span>
                            </div>
                        </div>
                        <div class="testi-box_img"><img src="~/home_panel/img/testimonial/review_1_4.png" alt="Reveiw Image"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-mockup leaf jump-reverse" data-top="0%" data-left="0"><img src="~/home_panel/img/shape/leaf_1.png" alt="shape"></div>
        <div class="shape-mockup leaf jump" data-bottom="0%" data-right="0"><img src="~/home_panel/img/shape/leaf_2.png" alt="shape"></div>
    </section>